
<div id="logo"> LOGO </div>

<div class="row3">

	<div id="profileBox">
		<%= link_to 'profile', profile_path %>
	</div>

	<div id="matchesBox">
		<p> Matches Box </p>
	</div>

	<div id="messagesBox">
		<p> Messages Box </p>
	</div>

</div>
